<li class="nav-item">
	<a class="nav-link" asp-controller="Home" asp-action="Index" asp-area="">
		<span class="menu-title">Home</span>
	</a>
</li>
<li class="nav-item">
	<a asp-controller="HomeUsers" asp-action="Index" asp-area="users" class="nav-link">
		<span class="menu-title">Student</span>
	</a>
</li>

<li class="nav-item">
	<a asp-controller="Account" asp-action="Logout" asp-area="admin" class="nav-link">
		<span class="menu-title">Logout</span>
	</a>
</li>
